@model List<Product>

@{
    ViewBag.Title = "Product";
}

<!--Trang Chủ Của Trang Product-->
<h2 class="text-center mb-5">Product</h2>

<div class="row mb-5">
    <div class="col-12">
        <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Create</a>
    </div>

    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Create At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Brand</td>
                        <td>@product.Category</td>
                        <td>@(product.Price)$</td>
                        <td><img src="/products/@product.ImageFileName" alt="@product.Name" width="100" /></td>
                        <td>@product.CreateDate.ToString("dd/MM/yyyy")</td>
                        
                        <td style="white-space: nowrap">
                            <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class="btn btn-primary">Edit</a>
                            <a href="@Url.Action("Delete", "Product", new { id = product.Id })" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>